#about {
    padding: 60px 0;
}

.about-text {
    color: #1A1A1A;
    font-size: 40px;
    font-weight: 500;
    font-family: "Baskervville", serif !important;
}

.large-text {
    font-size: 52px;

  }

  @media (max-width: 1200px) {
    .about-text {
        color: #1A1A1A;
        font-size: 30px;
        font-weight: 500;
        font-family: "Baskervville", serif !important;
    }

    .large-text {
        font-size: 38px;

      }
}
  

  @media (max-width: 768px) {
    .about-text {
        color: #1A1A1A;
        font-size: 24px;
        font-weight: 500;
        font-family: "Baskervville", serif !important;
    }

    .large-text {
        font-size: 30px;
      }
}


@media (max-width: 576px) {
    .about-text {
        color: #1A1A1A;
        font-size: 20px;
        font-weight: 500;
        font-family: "Baskervville", serif !important;
    }

    .large-text {
        font-size: 26px;

      }
}