.hero-section {
    background: url('/src/Assets/hero.png') center/cover no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    background-size: contain;
    width: 100%;
}

.custom-img {
    height: 650px;
    object-fit: cover; /* Ensures the image fills the area without stretching */
  }
  