.title-text {
    color: #57BFE4;
    font-size: 32px;
}

.nav-link {
    color: #1A1A1A;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link.active {
    color: #57BFE4 !important;
    font-weight: 700;

    
}

/* Adjust font size on smaller screens */
@media (max-width: 768px) {
    .title-text {
        font-size: 24px !important;
        width: 80%;
    }
    .nav-link {
        font-size: 16px;
        text-align: center;
    }

    .navbar-nav {
        width: 100%;
    }
}